<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto" style="color:aliceblue;">
      <h1 class="mb-1">BienestApp</h1>
      <h3 class="mb-5" >
        <em>Página inicial del la app</em>
      </h3>
      <a class="btn btn-primary btn-lg" href="/signin">
        Inicia sesión!
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>