<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Buscar persona</h3>
        </div>
        <div class="card-body">
          <img src="/img/logo.png" alt="No se pudo cargar imagen" style="height:50%; width:50%;"/>
          <form action="/links/datos" method="POST">

            <div class="form-group my-4 my-3">
              <input
                type="text"
                name="cedula"
                placeholder="Cédula"
                class="form-control"
                autofocus
              />
            </div>

            

            <div class="form-group my-4 my-3">
              <button class="btn btn-success btn-block">
                Buscar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>