<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-body">

          <a href="/emergenciaConfirmada" class="btn btn-danger m-4">
            <h2>CONFIRMAR EMERGENCIA</h2>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>